.aboutme{
    background-color: rgb(15 23 42);
    overflow: hidden;
    border: none;
}
.about{
    position: absolute;
    background: transparent;
    font-size: 20vw;
    font-weight: 700;
    color: rgba(76, 137, 235, 0.105);
    width: 100%;
    text-align: center;
    z-index: 1;
    user-select: none;
}
.am{
    padding-top: 14vh;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: white;
}
.above{
    z-index: 2;
    position: relative;
}
.anime{
    width: 140px;
    margin: auto;
    height: 5px;
    background-color: rgba(113, 245, 208, 0.24);
    border-radius: 10px;
    margin-top: 5vh;
}
.move{
    width: 5px;
    height: 4.8px;
    background-color: rgb(0, 255, 255);
    animation-name: example;
    animation-duration: 2s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50%;
    animation-direction: normal;
}
@keyframes example {
    from {left: 0px; top: 0.1px;}
    to {left: 96%; top: 0.1px;}
}
.shift{
    width: 580px;
    height: 360px;
    object-fit: cover;
    object-position: 5% 5%;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 2;
}
.ana{
    width: 600px;
    height: 380px;
    position: relative;
    background-color: rgba(113, 245, 208, 0.157);
    background-repeat: no-repeat;
    border-radius: 6px;
    z-index: 1;
}
.hia{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.hia span{
    color: rgb(20, 223, 166);
}
.tdd{
    color: rgb(20, 223, 166);
    font-weight: 600;
    font-size: 20px;
    line-height: 12px;
    width: 200px;
    list-style: square;
}
.tdd span{
    color: white;
}
.tddd{
    color: white;
    font-weight: 400;
    font-size: 17px;
    line-height: 12px;
    font-family: 'Lato', sans-serif;
}
.anb{
    width: 30px;
    height: 10px;
    background-image: linear-gradient(to right, transparent, 40%, rgb(20, 223, 166));
    animation-name: xample;
    animation-duration: 3s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    animation-direction: normal;
}
.anc{
    width: 30px;
    height: 10px;
    background-image: linear-gradient(to right, rgb(20, 223, 166), 40%, transparent);
    animation-name: exam;
    animation-duration: 3s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    animation-direction: reverse;
}
.and{
    width: 10px;
    height: 30px;
    background-image: linear-gradient(transparent, 40%, rgb(20, 223, 166));
    animation-name: examp;
    animation-duration: 3s;
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    animation-direction: normal;
}
.ane{
    width: 10px;
    height: 30px;
    background-image: linear-gradient(rgb(20, 223, 166), 40%, transparent);
    animation-name: exampl;
    animation-duration: 3s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    animation-direction: reverse;
}
@keyframes exampl {
    from {top: -15px;}
    to {top: 320px;}
}
@keyframes examp {
    from {left:590px; top:10px;}
    to {left:590px; top:320px;}
}
@keyframes exam {
    from {left:0px; top:360px;}
    to {left:570px; top:360px;}
}
@keyframes xample {
    from {left: 10px;}
    to {left: 567px;}
}
@media screen and (max-width: 768px) {
    .shift {
        width: 400px;
    }
    .ana{
        width: 420px;
    }
    @keyframes examp {
        from {left:410px; top:10px;}
        to {left:410px; top:320px;}
    }
    @keyframes exam {
        from {left:0px; top:360px;}
        to {left:390px; top:360px;}
    }
    @keyframes xample {
        from {left: 10px;}
        to {left: 387px;}
    }
    .amhiaa{
        margin-left: -20px;
    }
}
@media screen and (max-width: 576px) {
    .shift {
        width: 360px;
    }
    .ana{
        width: 380px;
    }
    .pooo{
        margin: 0% !important;
        padding: 0% !important;
    }
    @keyframes examp {
        from {left:370px; top:10px;}
        to {left:370px; top:320px;}
    }
    @keyframes exam {
        from {left:0px; top:360px;}
        to {left:350px; top:360px;}
    }
    @keyframes xample {
        from {left: 10px;}
        to {left: 347px;}
    }
    .amhiaa{
        margin-left: -35px;
    }
    .about{
        margin-top: 17vh;
    }
    .tdd{
        line-height: normal;
    }
    .tddd{
        line-height: normal;
    }
}
@media screen and (max-width: 667px) {
    .shift {
        width: 330px;
    }
    .ana{
        width: 350px;
    }
    @keyframes examp {
        from {left:340px; top:10px;}
        to {left:340px; top:320px;}
    }
    @keyframes exam {
        from {left:0px; top:360px;}
        to {left:320px; top:360px;}
    }
    @keyframes xample {
        from {left: 10px;}
        to {left: 317px;}
    }
    .amhiaa{
        margin-left: -30px;
    }
    .about{
        margin-top: 17vh;
    }
}

.dre {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: rgb(20, 223, 166);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 190px;
    margin-top: 30px;
  }
  
  .dre:after {
    content: " ";
    width: 100%;
    height: 0%;
    background: white;
    position: absolute;
    transition: all 0.4s ease-in-out;
    top: 0;
  }
  
  .dre:hover::after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  
  .dre span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: 12px;
    font-weight: 500;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  .dre:hover span {
    color: black;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
}