.cup1{
    color: white;
    font-weight: 500;
    font-size: 23px;
}
.conmd{
    position: relative;
    z-index: 9;
}
.cup2{
    color: white;
    font-size: 14px;
    margin-top: 15px;
}
.cu3{
    margin-top: 30px;
    display: flex;
    background-color: rgb(26, 44, 60);
    padding: 3%;
    border-radius: 10px;
}
.cuimg{
    background-color: rgba(38, 125, 103, 0.271);
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    height: fit-content;
}
.cu4{
    margin-left: 20px;
}
.cu4 address{
    color: white;
}
.cup3{
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}
.cu3 a{
    color: white;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
}
.cu2 input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(16, 34, 50);
    border: none;
    outline-color: aquamarine;
    margin-top: 5px;
    margin-bottom: 10px;
}
.cu2 label{
    color: white;
    font-size: 13px;
    font-weight: 500;
}
.cu2 textarea{
    width: 100%;
    padding: 10px;
    background-color: rgb(16, 34, 50);
    border-radius: 8px;
    border: none;
    min-height: 167px;
    outline-color: aquamarine;
}
.cu2 button{
    border-radius: 8px;
    background-color: aquamarine;
    width: 110px;
    height: 40px;
    border: none;
    margin-top: 15px;
    color: black;
    font-size: 13px;
    font-weight: 600;
}
.cu2{
    background-color: rgb(26, 44, 60);
    border-radius: 10px;
    padding: 2%;
}
@media screen and (max-width: 576px) {
    .cfo{
        padding-top: 80px;
    }
}